{% extends 'base.html' %}

{% block title %}
<style> 
    h1{
        padding: 8px;
        text-align: center;
        color: #faf7f3;
    }
    p{
        padding: 5px;
        text-align: center;
        color: #faf7f3;
    }
    #ratingButton{
        padding: 10px;
    }
    .btn-primary{
        background-color: rgba(168, 92, 20, 0.979);
    }
    .is-danger{
        background-color: rgba(80, 41, 4, 0.979);
    }
    body {
        background-image: url('/static/img/images/7.png');
    }
</style>
{% endblock %}

{% block home%}
<li class="nav-item" ><a class="nav-link" href="/user" style="color:#000000;"><span class="fa fa-home fa-lg" ></span> Home</a></li>
{% endblock %}

{% block head %}

    <span class="navbar-text">
        <a id="loginModal" href = "/dashboard" style="color:#000000;">
        <span class="fa fa-columns"></span> Dashboard </a>
    </span>   
    <span class="navbar-text">
        &nbsp;&nbsp;&nbsp;<a id="signOutButton" href = "/logout" style="color:#000000;"> 
        <span class="fa fa-sign-out"></span> Logout </a>
    </span> 

{% endblock %}


{% block body %}

<div class='container'>
    
</div>

<div id="sellForm" class="container">
    <h1>Rate The Book</h1> 
    <p>NOTE : Rate the book in accordance with the price for the pages and book condition</p>   
    <div class='container'>
        {% for message in get_flashed_messages() %}
            <div class="container">
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="book" style="color:#f8e8b4;">Book Name</label>
                    <input type="text" class="form-control" name="book" value="{{
                        book.title }}" id="book" placeholder="Enter the Name of the Book" required="required">
                </div>
                <div class="form-group">
                    <label for="book_id" style="color:#f8e8b4;">Book ID</label>
                    <input type="text" class="form-control" id="book_id" name="book_id" value="{{
                        book.isbn }}" placeholder="Enter the Book ID" required="required">
                </div>
                <div class="form-group">
                    <label for="rating" style="color:#f8e8b4;">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" value="{{
                        request.form.rating }}" placeholder="Enter the rating for the book ( 1-10 )" min="1" max="10" required="required">
                </div>
                <div class="form-group">
                    <label for="queries" style="color:#f8e8b4;">Any other complaints?</label>
                    <textarea rows="2" class="form-control" name="queries" id="queries" value="{{
                        request.form.queries }}" placeholder="Any other issues.." ></textarea>
                </div>

                
                <div class="text-center" id="ratingButton">
                    <input class="btn btn-primary" type="submit" value="Give Rating">
                </div>
            </form>
        </div>
    </div>
    
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>

{% endblock %}



{% block footer %}
{% endblock %}